<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="DEFAULT-CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="append" value="true" />
		<param name="encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH\:mm\:ss}] [%t] [%p] - %l | %m%n" />
		</layout>
	</appender>
	
	<root>
		<level value="DEBUG" />
		<appender-ref ref="DEFAULT-CONSOLE" />
	</root>
</log4j:configuration>